.avatarDecoration__14b3c
,.avatarDecoration_ae35e3 {
    transition: opacity var(--ad-duration, .3s);
}
:hover+.avatarDecoration__14b3c
,:hover>.wrapper_edb6e0>.avatarDecoration_ae35e3 {
    opacity: 0;
}
.avatarDecorationHint__03e0b {
    display: var(--ad-profile-hint, none)
}
