/**
  * @name Dynamic Settings
  * @author cutekita
  * @version 1.0.2
  * @description Allow customising the size of the new main settings modal
  * @website https://github.com/cutekita/snippets
*/

/*-- Fit Settings into Modals --*/

/*Main Settings*/
.e4491282b6a5364a-modal {
  max-width: var(--ds-width, 85vw);
  width: 100%;
  max-height: var(--ds-height, 90vh);
  height: 100%;
  border-radius: var(--ds-rounding, 1em);
}

/*-- Dynamic Settings --*/

/*Main Settings Container*/
._6131ab3dbe0affed-panel {
  margin: var(--ds-header-margin, 32px) 0;
  max-width: none;
}

/*Family Centre Tab*/
._8e680ffe35110238-max-width
,._5b32177e89c63961-max-width
,.d9914bd9cd9c033f-container {
  max-width: none;
}

/*Move header to center while fixing the button right*/
.e9e3ed8b8badfe05-contentHeaderLeft {
  margin: 0 var(--ds-header-position, auto);
}
.e9e3ed8b8badfe05-contentHeader>.a22cb0c66246f5d3-button {
  position: absolute;
  right: 8px;
}

/*Background for avatars doesn't adjust properly, just replace it*/
._1fed1dd06c7aabf7-accountProfileCard>._68edb95846a37624-mask>mask>circle {
  display: none;
}
._1fed1dd06c7aabf7-avatar {
  top: unset !important;
  bottom: 320.5px;
  border: var(--background-base-lowest) 6px solid;
  margin: -6px;
}

/*Change how many columns plugin/theme grids have to a variable*/
.vc-settings-tab>.vc-plugins-grid, .vc-settings-theme-grid, .vc-changelog-new-plugins-grid {
	grid-template-columns: repeat(auto-fill, minmax(calc(100% / (var(--ds-grid-columns, 4) + 1)), 1fr));
}

/*Fix clipping on Saturation slider in Accessibility*/
._5a8382cf5c9d77df-control:has(>.a562c840daab72a7-slider) {
  padding: 0 10px;
}
