.layer_f7d46a+.layer_f7d46a
,.container__827e6{
    background: var(--bg-overlay-app-frame, var(--background-primary));
}
.defaultTextInputWrapper__87159
,.addAnswerButtonDefault__2f2a4
,.inputDefault__22335 {
    background: var(--bg-overlay-app-frame, var(--input-background));
}
.popout_a6e77f
,.wrapper__45980
,.popout__24e32 {
  background: var(--bg-overlay-1,var(--background-floating))
} 
.standardSidebarView__12528
,.contentRegion__08eba
,.contentRegionScroller__9ae20
,.sidebarRegionScroller__8113e
,.page_e5cc79
,.inputWrapper_ecb776>.inputDefault__22335
,.header__3b038
{
    background: none;
}
.container__03ec9{
    background: none !important;
}
.defaultTextInputWrapper__87159
,.inputDefault__22335 {
    border: none;
}
