.layer_d4b6c5+.layer_d4b6c5
,.container_e40c16
,.container_a039eb
,.container__5130c
,.container_f8a938
,.spoilerContent_a3d0f7
,.mainCard_a6d69a
,.matchingPostsRow_a6d69a
,.contentWrapper_af5dbb
,.container_f24a96
,.accountProfileCard_b69b77
,.autocomplete_f23da8
,.emojiPicker_c6ee36>.header_c6ee36
,.container_f1c3d9
,.recentMentionsPopout_ddb5b4
,.msg-logger-modal-root
,.container_acae5d
,.messagesPopoutWrap_ac90a2
,.browser_f542fc,.userProfileOuterUnthemed_c69a7b
,.root_cd3d24
,.header_d0dc1d
,.modalSize_e1cc86 {
    background: var(--bg-overlay-app-frame, var(--background-primary))
}
.popout_f6639d
,.wrapper_ba23fe
,.popout_c5b389
,.addReactButton_b385c8
,.role_f9575e
,.iconWrapper_e378b3
,.pill_c993da
,.reaction_f61c73
,.vc-addon-card
,.select_f6639d
,.embedWrapper_b558d0
,.wrapper_b9fe76
,.container_c15230
,.shiki-root
,.sortDropdown_a6d69a
,.tagsButton_a6d69a
,.container_d6cb89
,.emptyChannelIcon_c2668b
,.inline.inline
,.outerContainer_d7df05.outerContainer_d7df05
,.inspector_c3120f
,.wrapper_ef319f
,.uploadModal_f82cc7
,.wrapper_c6ee36>.header_c6ee36
,.header_f0cd33
,.header_ac90a2
,.header_e664f3
 {
    background: var(--bg-overlay-5,var(--background-floating))
}
.buttonInner_b385c8 {
    background: var(--bg-overlay-5,var(--background-floating))!important
}
.reactionBtn_ec6b19
,.reaction_ec6b19
,.replies__1b03e
,.stepContainer_a039eb
,.searchBar_c6ee36
,.navButtonActive_af5dbb
,.upload_df1eaf
,.option_f6639d.option_f6639d.option_f6639d[aria-selected="true"]
,.emojiPicker_c6ee36
,.messages_c06487
,.messageContainer_ddb5b4
,.messageGroupWrapper_ac90a2
,.container_acb8b3
,.chatSidebarOpen_d880dc,.listWrapper_d0dc1d
,.activityItem_d46b95
,.activityItem_d46b95:hover>.activityTextContainer_d46b95
,.container_d9c848:hover
,.category_d7acc7:hover
,.activityItem_d46b95.disabled_d46b95 {
    background: var(--bg-overlay-3, var(--background-floating))
}
.channelChatWrapper_d880dc {
	background: var(--bg-overlay-2, var(--background-primary));
}
.defaultTextInputWrapper_d274ca
,.addAnswerButtonDefault_f24a96
,.background_b69b77
,.audioControls_f316dd
,.categoryItemDefaultCategory_dfa278:hover
,.categoryItemDefaultCategorySelected_dfa278.categoryItemDefaultCategorySelected_dfa278
,.emojiItemSelected_fbfedd.emojiItemSelected_fbfedd
,.diversitySelector_c6ee36:hover
,.profileCardUsernameRow_b69b77
,.badgeList_b69b77
,.fieldButton_b69b77.fieldButton_b69b77
,.selected_a0.selected_a0.selected_a0.selected_a0
,.questionInput_f24a96
,.option_f6639d.option_f6639d:hover
,.duration_f24a96>.select_f6639d
,.clickable_f23da8[aria-selected="true"]>.base_f23da8.base_f23da8
,.clickable_f23da8>.base_f23da8.base_f23da8:hover
,.calloutContainer_fd8ff1
,.friendRequestsButton_c0c071
,.button__292b6
,.inputWrapper_f8bc55>.inputDefault_f8bc55
,.secondaryButton_acae5d.secondaryButton_acae5d
,.jumpButton_ac90a2
,.searchBox_e664f3
,.soundButton_f40049
,.buttonOverlayBackground_f40049
,.container_effbe2
,.selected_ceda83.selected_ceda83
,.categoryIcon_ceda83:hover
,.soundAddButton_c06ee5.soundAddButton_c06ee5
,.category_d7acc7
,.container_d9c848
,.searchBox__56feb
,.container_f9d8eb
,.activeCategory_fa8ebf.activeCategory_fa8ebf
,.clickable_a97e58:hover
,.item_eb92a8
,.cardPrimary_a298b8 {
    background: #00000055
}
.searchBox__56feb {
	background: #00000055!important;
}
.standardSidebarView_c25c6d
,.contentRegion_c25c6d
,.contentRegionScroller_c25c6d
,.sidebarRegionScroller_c25c6d
,.page_d20375
,.section_d7a21f>.inputWrapper_f8bc55>.inputDefault_f8bc55
,.header_fa4e6d
,.wrapper_e06857
,.flex_bba380
,.defaultTextInputWrapper_d274ca>.inputWrapper_f8bc55>.inputDefault_f8bc55
,.inlineMediaEmbed_ad0b71
,.imageContent_cf58b5
,.categoryItemDefaultCategory_dfa278
,.footer_f82cc7.footer_f82cc7
,.fieldList_b69b77
,.bodyMedia_ef2282
,.option_f6639d:focus
,.base_f23da8.base_f23da8.base_f23da8
,.guildIcon_bfabc4
,.container_fe1358
,.channelHeader_f3978e
,.userProfileOuterUnthemed_c69a7b>.userPanelInner_c69a7b
,.container_d1c246
,.scrollTierBackground_f09e45
,.directoryContainer_da3f59.directoryContainer_da3f59
,.inputWrapper_f8bc55>.input_f8bc55 {
    background: none
}
.container_f1fd9c
,.msg-logger-modal-tab-bar-item {
    background: none !important
}
.defaultTextInputWrapper_d274ca
,.inputDefault_f8bc55
,.duration_f24a96>.select_f6639d
,.bodyMedia_ef2282
,.messageGroupWrapper_ac90a2,.cardPrimary_a298b8 {
    border: none
}
.emojiPicker_c6ee36>.header_c6ee36, .container_d1c246 {
	border-radius: 0;
} 
.diversitySelector_c6ee36 {
    padding: 5px;
    margin: -5px;
    border-radius: 4px;
}
.footer_f82cc7.footer_f82cc7 {
    box-shadow: none;
}
.profileCardUsernameRow_b69b77 {
    border-radius: 8px 8px 0 0;
    padding: 4px 4px 0 4px;
    margin: -4px -4px 0 -4px;
}
.badgeList_b69b77 {
    border-radius: 0 0 8px 8px;
    padding: 0 4px 4px 4px;
    margin: 0 -4px -4px -4px;
}
.category_fa8ebf {
	margin: 0;
}
