.standardSidebarView__12528 {
  top: 0px !important;
}

.sidebarRegion__36437 {
  max-width: fit-content !important;
}

.sidebar__02e8d {
  padding-top: 2em;
}

.contentRegionScroller__9ae20:not(:has(>#my-account-tab)) {
  display: block;
}

.accountProfileCard__744d8>.bannerSVGWrapper__8a38c {
  height: 233px;
  max-width: 420%;
}

.accountProfileCard__744d8>.bannerSVGWrapper__8a38c>mask>circle {
  r: 19.701;
  cy: 109;
  cx: 27;
}

.avatar__6c108 {
  top: 36%;
}

.gradient__79da8 {
  margin-bottom: 40px;
}

.wave_e98f7c {
  display: none;
}

.banner__79cec
,.max-width_dfc421
,.max-width__1da95
,.contentColumn__5f80b
,.container_cf8001 {
  max-width: unset;
}

.soundButtonSettingContainer__3821b {
  width: unset;
}

.vc-plugins-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
