.standardSidebarView_c25c6d {
  top: 0px !important;
}

.sidebarRegion_c25c6d {
  max-width: fit-content !important;
}

.sidebar_c25c6d {
  padding-top: 2em;
}

.contentRegionScroller_c25c6d {
  display: var(--fs-toggle-closebutton, flex);
}

.accountProfileCard_b69b77>.bannerSVGWrapper_b32cc2 {
  height: 233px;
  max-width: 420%;
}

.accountProfileCard_b69b77>.bannerSVGWrapper_b32cc2>mask>circle {
  r: 19.701;
  cy: 109;
  cx: 27;
}

.avatar_b69b77 {
  top: 36%;
}

.gradient_e74e54 {
  margin-bottom: 40px;
}

.wave_e74e54 {
  display: none;
}

.banner_b12c98
,.max-width_d00e26
,.max-width_a2e886
,.contentColumn_c25c6d
,.container_f70f48 {
  max-width: unset;
}

.soundButtonSettingContainer_c801bb {
  width: unset;
}

.vc-plugins-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.content_da3f59 {
	margin: 0;
	max-width: none;
}

.closeWrapper_da3f59 {
	left: 0;
}
.closeButton_df5532 {
    background: var(--bg-overlay-app-frame, var(--background-primary))
}

.titleContainer_da3f59>.anchor_af404b {
	display: none;
}
