/**
  * @name Homebuttons
  * @author cutekita
  * @version 1.1.1
  * @description Collapses the different tabs in the home tab into neat buttons
  * @website https://github.com/cutekita/snippets
*/

/*Adds one to the button count when the messagerequest icon is there*/
html {
  --hb-button-count-dynamic: var(--hb-button-count, 3);

  &:has(._972a0d22c8afa7f0-link[data-list-item-id$="messageRequests"]) {
    --hb-button-count-dynamic: calc(var(--hb-button-count, 3) + 1);
  }
}

/*Friends Button*/
.e6b7699ce8339e1c-friendsButtonContainer {
  width: calc(100% / var(--hb-button-count-dynamic));
}

/*Nitro Button*/
div:not([class])>._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm) {
  position: absolute;
  width: calc(100% / var(--hb-button-count-dynamic));
  left: calc(100% / var(--hb-button-count-dynamic) * (var(--hb-nitro-order, 2) - 1));
  top: var(--hb-vertical-margin, 12px);
  margin: 0;
}

/*Shop & Message Requests*/
ul>._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm) {
  position: absolute;
  width: calc(100% / var(--hb-button-count-dynamic));
  left: calc(100% / var(--hb-button-count-dynamic) * (var(--hb-shop-order, 3) - 1));
  top: var(--hb-vertical-margin, 12px);
  margin: 0;
  &:nth-of-type(2) {
    left: calc(100% / var(--hb-button-count-dynamic) * (var(--hb-requests-order, 4) - 1));
  }
}

/*equal distance top and bottom*/
._99e7cad8d4c55236-scroller>.d125d22cdfd32cfe-content>div:first-child {
  height: var(--hb-vertical-margin, 12px) !important;
}

.e6b7699ce8339e1c-sectionDivider {
  margin-top: var(--hb-vertical-margin, 12px);
}

/*aligns the icons to the center and removes the text*/
._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm)>.bf202d63ad53e289-interactive>._972a0d22c8afa7f0-link {
  padding: 8px;

  &>._20a53846fe2e8513-layout {
    justify-content: center;

    &>._20a53846fe2e8513-avatar {
      margin: 0;
    }

    &>._20a53846fe2e8513-content {
      display: none;
    }
  }
}

/*fix notification icon*/
._972a0d22c8afa7f0-link>._2b1f52e43a8f1c02-numberBadge {
  position: absolute;
  left: 50%;
  top: 16px;
  scale: 0.8;
}

/*Temporary Nitro Advertisement*/
.e4ef2250e26e0a8f-premiumTrialBadge {
  display: none;
}
