/**
  * @name Homebuttons
  * @author cutekita
  * @version 1.2.0
  * @description Collapses the different tabs in the home tab into neat buttons
  * @website https://github.com/cutekita/snippets
*/

/*Adds one to the button count when the messagerequest icon is there*/
html {
  --hb-button-count-dynamic: var(--hb-button-count, 4);

  &:has(.link__972a0[data-list-item-id$="messageRequests"]) {
    --hb-button-count-dynamic: calc(var(--hb-button-count, 4) + 1);
  }
}

/*Friends Button*/
.friendsButtonContainer_e6b769 {
  width: calc(100% / var(--hb-button-count-dynamic));
}

/*Nitro Button*/
.content_d125d2>div:nth-child(3) {
  position: absolute;
  width: calc(100% / var(--hb-button-count-dynamic));
  left: calc(100% / var(--hb-button-count-dynamic) * (var(--hb-nitro-order, 2) - 1));
  top: var(--hb-vertical-margin, 12px);
  margin: 0;
}

/*Shop & Message Requests*/
ul>.channel__972a0:not(.dm__972a0) {
  position: absolute;
  width: calc(100% / var(--hb-button-count-dynamic));
  left: calc(100% / var(--hb-button-count-dynamic) * (var(--hb-shop-order, 3) - 1));
  top: var(--hb-vertical-margin, 12px);
  margin: 0;
  &:nth-of-type(2) {
    left: calc(100% / var(--hb-button-count-dynamic) * (var(--hb-requests-order, 5) - 1));
  }
}

/*Quests*/
.wrapper__553bf {
  position: absolute;
  width: calc(100% / var(--hb-button-count-dynamic));
  left: calc(100% / var(--hb-button-count-dynamic) * (var(--hb-quests-order, 4) - 1));
  top: var(--hb-vertical-margin, 12px);
  margin: 0; 
}

/*equal distance top and bottom*/
.scroller__99e7c>.content_d125d2>div:first-child {
  height: var(--hb-vertical-margin, 12px) !important;
}

.sectionDivider_e6b769 {
  margin-top: var(--hb-vertical-margin, 12px);
}

/*aligns the icons to the center and removes the text*/
.channel__972a0:not(.dm__972a0)>.interactive_bf202d>.link__972a0 {
  padding: 8px;

  &>.layout__20a53 {
    justify-content: center;

    &>.avatar__20a53 {
      margin: 0;
    }

    &>.content__20a53 {
      display: none;
    }
  }
}

/*fix notification icon*/
.link__972a0>.numberBadge__2b1f5 {
  position: absolute;
  left: 50%;
  top: 16px;
  scale: 0.8;
}
