/**
  * @name Homebuttons
  * @author cutekita
  * @version 1.3.3-beta
  * @description Collapses the different tabs in the home tab into neat buttons
  * @website https://github.com/cutekita/snippets
*/

/*Adds one to the button count when the messagerequest icon is there*/
html {
  --hb-button-count-dynamic: calc(var(--hb-button-count, 4) + var(--hb-pending-message-request));
  --hb-pending-message-request: 0;

  &:has(.link__972a0[href="/message-requests"]) {
    --hb-pending-message-request: 1;
  }
}

/*Friends*/
.friendsButtonContainer_e6b769 {
  width: calc(100% / var(--hb-button-count-dynamic));
}

/*Message Requests*/
.channel__972a0:has(>.interactive__972a0>.link__972a0[href="/message-requests"]) {
  position: absolute;
  width: calc(100% / var(--hb-button-count-dynamic));
  left: calc(100% / var(--hb-button-count-dynamic) * (var(--hb-messages-order, 2) - 1));
  top: var(--hb-vertical-margin, 12px);
  margin: 0;
}

/*Nitro*/
.content_d125d2>div:not([class]):has(>.channel__972a0) {
  position: absolute;
  width: calc(100% / var(--hb-button-count-dynamic));
  left: calc(100% / var(--hb-button-count-dynamic) * (var(--hb-nitro-order, 2) - 1 + var(--hb-pending-message-request)));
  top: var(--hb-vertical-margin, 12px);

  &>.channel__972a0 {
    margin: 0;
  }
}

/*Shop*/
.channel__972a0:has(>.interactive__972a0>.link__972a0[href="/shop"]) {
  position: absolute;
  width: calc(100% / var(--hb-button-count-dynamic));
  left: calc(100% / var(--hb-button-count-dynamic) * (var(--hb-shop-order, 3) - 1 + var(--hb-pending-message-request)));
  top: var(--hb-vertical-margin, 12px);
  margin: 0;
}

.newBadge__4ed1a, .marketingButtonBackgroundNew__4ed1a, .countDown__61bcd, .premiumBadge__6d7da {
  display: none;
}

/*Quests*/
.wrapper__553bf {
  position: absolute;
  width: calc(100% / var(--hb-button-count-dynamic));
  left: calc(100% / var(--hb-button-count-dynamic) * (var(--hb-quests-order, 4) - 1 + var(--hb-pending-message-request)));
  top: var(--hb-vertical-margin, 12px);

  &>.channel__972a0 {
    margin: 0;
  }
}

/*equal distance top and bottom*/
.scroller__99e7c>.content_d125d2>div:first-child {
  height: var(--hb-vertical-margin, 12px) !important;
}

.sectionDivider_e6b769 {
  margin-top: var(--hb-vertical-margin, 12px);
}

/*aligns the icons to the center and removes the text*/
.channel__972a0:not(.dm__972a0)>.interactive_bf202d>.link__972a0 {
  padding: 8px;
  justify-content: center;

  &>.layout__20a53>.avatar__20a53 {
      margin: 0;
  }
 
   &>.layout__20a53>.content__20a53 {
      display: none;
  }
}

/*fix notification icon*/
.link__972a0>.numberBadge__2b1f5 {
  position: absolute;
  left: 50%;
  top: 16px;
  scale: 0.8;
}
