@keyframes ls-filter {
  from{backdrop-filter: blur(8px);}
  to{backdrop-filter: blur(0px);}
}
.container_a2f514 {
  background: var(--ls-background, #00000080);
  pointer-events: none;
  flex-direction: column;
  display: var(--ls-show, flex);
  animation: ls-filter 1 5s 0.3s ease-in-out;
}

.container_a2f514:before {
  content: "Connection is being established...";
  color: white;
  font-size: xx-large;
  align-self: center;
  font-weight: 600;
}

.problems_a2f514 {
  display: none;
}

.tipTitle_a2f514
,.tip_a2f514 {
  font-size: 0;
}

.tipTitle_a2f514:before {
  content: "you can still use discord";
  font-size: large;
}

.tip_a2f514:before {
  content: "Add \":root{--ls-show:none}\" to your Quickcss to hide this message";
  font-size: large;
}
