/**
  * @name Searchbutton
  * @author cutekita
  * @version 1.0.2
  * @description Collapses the search button when it isn't used
  * @website https://github.com/cutekita/snippets
*/

._974928fe84ca9647-search:not(._974928fe84ca9647-open) {
  &>._974928fe84ca9647-searchBar {
    width: fit-content;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;

    &>.DraftEditor-root {
      width: 32px;
      position: absolute;
      padding: 0;

      &>.public-DraftEditorPlaceholder-root>.public-DraftEditorPlaceholder-inner {
        color: transparent;
      }
    }
  }
}

._496769951eb140fe-search {
  margin: 0;
}

._974928fe84ca9647-open>._974928fe84ca9647-searchBar>._974928fe84ca9647-icon {
  margin-top: -3px;
  margin-right: -1px;
}

._974928fe84ca9647-icon._974928fe84ca9647-icon {
  height: 32px;
  width: 32px;
}