.baseLayer__960e4:has(+.layer__960e4) {
	opacity: 1 !important;
	pointer-events: none;
}

.layer__960e4.stop-animations:after {
	content: "";
	position: fixed;
	background: var(--sw-background-filter, #000000a0);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.layer__960e4+.layer__960e4 {
	width: var(--sw-width, 90vw);
	height: var(--sw-height, 90vh);
	left: calc((100vw - var(--sw-width, 90vw))/2);
	top: calc((100vh - var(--sw-height, 90vh) - var(--wb-sw-compat, 22px))/2);
	border-radius: var(--sw-rounding, 1em);
	padding: 0;
	z-index: 101;
}

.contentRegionScroller__23e6b {
	display: block;
    &::-webkit-scrollbar {
        display: var(--sw-toggle-content-scrollbar, block);
    }
}

.standardSidebarView__23e6b {
	top: 0px !important;
}

.sidebarRegion__23e6b {
	max-width: fit-content !important;
}

.sidebar__23e6b {
	padding: 1em 6px 0px 20px;
}

.contentColumn__23e6b {
  margin-bottom: -60px;
}

.app__160d8 .tools__23e6b {
	top: -50vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
}

.app__160d8 .closeButton_c2b141 {
	position: absolute;
	width: 100vw;
	height: 200vh;
	cursor: default;
	border-radius: 0%;
}

.app__160d8 .toolsContainer__23e6b {
	z-index: -1;
    padding: 0;
    margin: 0;
}

.accountProfileCard__1fed1>.bannerSVGWrapper_b32cc2 {
	height: 233px;
	max-width: 420%;
}

.accountProfileCard__1fed1>.mask__68edb>mask>circle {
  display: none;
}

.avatar__1fed1 {
	top: unset;
  bottom: 305px;
  box-shadow: var(--sw-avatarbackground, var(--background-tertiary) 0 0 0 6px);
}

.gradient__8e08c {
	margin-bottom: 40px;
}

.wave__8e08c {
	display: none;
}

.banner__84995,
.max-width__8e680,
.max-width__5b321,
.contentColumn__23e6b,
.container_d9914b,.leftContent__69ef9,.leftColumn_dbba93,.content__99f8c,.settingsContent_b454a6 {
	max-width: unset;
}

.soundButtonSettingContainer__84bad {
	width: unset;
}

.vc-plugins-grid {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.content__99f8c.content__99f8c {
  margin-right: 40px;
}

/*Server Tag selection grid*/
.pickerGrid__69ef9 {
  grid-template-columns: repeat(auto-fill, 64px);
}

.topPill_b3f026 {
  -webkit-app-region: no-drag
}

.container_cdb2b0 {
  width: unset;
}
