/**
  * @name Settingswindow
  * @author cutekita
  * @version 3.0.5
  * @description Displays the settings page like a window
  * @website https://github.com/cutekita/snippets
*/

/*Show original app and make it uninteractable when settings are open*/
._960e4207cea8323e-baseLayer:has(+._960e4207cea8323e-layer) {
  opacity: 1 !important;
  pointer-events: none;
}

/*Shrink settings container and center it*/
._960e4207cea8323e-layer+._960e4207cea8323e-layer {
  width: var(--sw-width, 90vw);
  height: var(--sw-height, 90vh);
  left: calc((100vw - var(--sw-width, 90vw))/2);
  top: calc((100vh - var(--sw-height, 90vh))/2);
  border-radius: var(--sw-rounding, 1em);
  padding: 0;
  z-index: 2;
  --custom-app-top-bar-height: var(--sw-top-margin, 32px);
}

/*Darken background (filters cause immense lag)*/
._960e4207cea8323e-layer.stop-animations:after {
  content: "";
  position: fixed;
  background: var(--sw-background-filter, #000000a0);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

/*Reduce z-index for elements on main page with insane values*/
._59d0d7075b521375-layerContainer:has(>._01ae244280823725-chatLayerWrapper) /*Voice channel chat*/
,.cb9592ad77576717-wrapper /*Voice channel tab*/
,.f75fb00fb7356cbe-title /*Channel header*/
,._5e434347c823b592-panels /*User panel*/
{
  z-index: 1;
}

/*Apps and Servers Discovery header*/
._8a7fc664acf53af6-headerBar {
  z-index: 2;
}

/*Remove space intended for top bar*/
._23e6b439306f125a-standardSidebarView {
  top: 0px !important;
}

/*Make the close button for the settings take up the entire app, but hide behind the settings*/
._23e6b439306f125a-toolsContainer {
  position: absolute;
  width: 200vw;
  height: 200vh;
  top: -50vh;
  left: -50vw;
  z-index: -1;
  opacity: 0;
}

.c2b141c0f80863fb-closeButton{
  width: 200vw;
  height: 200vh;
  flex: none;
}

/*Without this, the button doesn't work, it's only not applied when on Audit log or Invites in server settings | ???*/
._23e6b439306f125a-tools {
  position: fixed;
}

/* -- Fullscreen Settings -- */

/*Remove empty space left and above sidebar*/
._23e6b439306f125a-sidebarRegion {
  max-width: fit-content;
  margin-top: var(--custom-app-top-bar-height);
}

._23e6b439306f125a-sidebar {
  padding-top: 0;
  padding-bottom: 0;
}

/*Fill the rest of the page with settings content*/
._23e6b439306f125a-contentColumn /*Container for all settings pages*/
,._8e680ffe35110238-max-width, ._5b32177e89c63961-max-width /*Family Centre > Activity*/
,.d9914bd9cd9c033f-container /*Family Centre > My Family*/
,.dbba9320d9989b05-leftColumn /*Server Profile*/
,.a84c500639eaa22d-leftContent /*Server Tag*/
,.d125d22cdfd32cfe-content.d125d22cdfd32cfe-content /*Roles*/, .c6bf1b7af480dfda-contentWidth /*Roles > Edit Roles*/ 
,._5906b5e639ffa713-content._5906b5e639ffa713-content /*Audit Log*/ {
  max-width: none;
}

/*Remove out of place padding*/
._23e6b439306f125a-contentColumn {
  padding-top: 0;
}

/*Change how many columns plugin/theme grids have to a variable*/
div:not([class])>.vc-plugins-grid, .vc-settings-theme-grid {
	grid-template-columns: repeat(auto-fill, minmax(calc(100% / (var(--fs-grid-columns, 4) + 1)), 1fr));
}

/*All kinds of issues with the avatar on the my account page, just replace the circle background with a border*/
._1fed1dd06c7aabf7-accountProfileCard>._68edb95846a37624-mask>mask>circle {
  display: none;
}

._1fed1dd06c7aabf7-avatar {
  top: unset !important;
  bottom: 320.5px;
  border: var(--background-base-lowest) 6px solid;
  margin: -6px;
}

/*Fix mic test expanding infinitely*/
.micTestButton__169b3 {
  max-width: 84.375px
}

._062838a9530acec0-wrapper {
  max-width: 568px;
}

/*Server tag selection grid*/
.a84c500639eaa22d-pickerGrid {
  grid-template-columns: repeat(auto-fill, 64px);
}

/*Move boost progress bar display in Boost Perks to the right*/
.d6340579835014b2-column:last-child {
  flex-basis: 0;
}

._4b8d892e5bcb9bd7-container /*Server Bans*/, 
._514d88095548b794-channelBrowser /*Onboarding default channels*/{
  width: unset;
}
