.baseLayer_d4b6c5:has(+.layer_d4b6c5) {
	opacity: 1 !important;
	transform: scale(1) !important;
	pointer-events: none;
}

.baseLayer_d4b6c5:has(+.layer_d4b6c5:not(.animating_d4b6c5)) {
	filter: var(--sw-background-filter, blur(5px) brightness(5px));
}

.layer_d4b6c5+.layer_d4b6c5 {
	width: var(--sw-width, 90vw);
	height: var(--sw-height, 90vh);
	left: calc((100vw - var(--sw-width, 90vw))/2);
	top: calc((100vh - var(--sw-height, 90vh) - 22px)/2);
	border-radius: var(--sw-rounding, 1em);
	padding: 0;
}

.contentRegionScroller_c25c6d {
	display: block;
    &::-webkit-scrollbar {
        display: var(--sw-toggle-content-scrollbar, block);
    }
}

.standardSidebarView_c25c6d {
	top: 0px !important;
}

.sidebarRegion_c25c6d {
	max-width: fit-content !important;
}

.sidebar_c25c6d {
	padding: 1em 6px 0px 20px;
}

.contentColumn_c25c6d {
    margin-bottom: -60px;
}

.app_a01fb1 .tools_c25c6d {
	top: -50vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
}

.app_a01fb1 .closeButton_df5532 {
	position: absolute;
	width: 100vw;
	height: 200vh;
	cursor: default;
	border-radius: 0%;
}

.app_a01fb1 .toolsContainer_c25c6d {
	z-index: -1;
    padding: 0;
    margin: 0;
}

.accountProfileCard_b69b77>.bannerSVGWrapper_b32cc2 {
	height: 233px;
	max-width: 420%;
}

.accountProfileCard_b69b77>.bannerSVGWrapper_b32cc2>mask>circle {
	r: 19.701;
	cy: 109;
	cx: 27;
}

.avatar_b69b77 {
	top: 36%;
}

.gradient_e74e54 {
	margin-bottom: 40px;
}

.wave_e74e54 {
	display: none;
}

.banner_b12c98,
.max-width_d00e26,
.max-width_a2e886,
.contentColumn_c25c6d,
.container_f70f48 {
	max-width: unset;
}

.soundButtonSettingContainer_c801bb {
	width: unset;
}

.vc-plugins-grid {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}