.avatar__991e2 {
  border-radius: 50% !important;
}

.pointerEvents__33f6a
,[id^=svg-mask-avatar-decoration-status-round]>circle
,.mask__1979f>circle
,[id^=svg-mask-avatar]>circle
,#svg-mask-avatar-decoration-status-mobile-80>[fill=black]
,#svg-mask-avatar-decoration-status-mobile-120>rect
,.cursorDefault_e4f616{
  display: var(--si-discord, none);
}

.vc-platform-indicator {
  display: var(--si-vencord, unset) !important;
}

.mask__1979f>foreignObject {
  mask: none;
}
