.avatar_c51b4e {
  border-radius: 50% !important
}

.pointerEvents_c51b4e
,[id^=svg-mask-avatar-decoration-status-round]>circle
,.mask_c51b4e>circle
,[id^=svg-mask-avatar]>circle
,#svg-mask-avatar-decoration-status-mobile-80>[fill=black]
,#svg-mask-avatar-decoration-status-mobile-120>rect
,.cursorDefault_c51b4e{
  display: var(--si-discord, none)
}

.vc-platform-indicator {
  display: var(--si-vencord, none) !important;
}

.mask_c51b4e>foreignObject {
  mask: none
}
