/**
  * @name Winbuttons
  * @author cutekita
  * @version 2.1
  * @description Seamlessly merges the window buttons into the channel header
  * @website https://github.com/cutekita/snippets
*/

html:root {
  --wb-sw-compat: 0px; /*Compatibility between Winbuttons and Settingswindow*/
  --wb-fs-compat: 48px; /*Compatibility between Winbuttons and Fullscreensettings*/
  --custom-app-top-bar-height: 0px; /*Just make the bar 0 height, think of the consequences later*/
  --wb-appframe-trailing-width: calc(165px + 44px * var(--wb-appframe-button-count, 2) + 4px); /*Calculate the width of the trailing group in the appframe*/
}

.base_c48ade>.bar_c38106 {
  top: 24px; /*Moving all buttons in the appframe down by 24px to line up with the channel header*/
  z-index: 2001 /*Giving the channel header a z-index of 100 was already excessive, but giving the voice channel chat 2000 is just insane*/
}

.winButton_c38106 { /*Remove discords very necessary dynamic width and height for window buttons*/
  width: 48px; 
  height: 48px;
}

.headerBar__8a7fc {
  -webkit-app-region: drag; /*Make it so you can drag the window by the titlebar in the Discovery tab*/
  margin-right: var(--wb-appframe-trailing-width); /*Something in this breaks the exceptions from below, so I just make the draggable area smaller*/
  width: calc(100% - var(--wb-appframe-trailing-width));
  padding: 0 12px 0 16px; /*Reduce right padding by 4px to match up icons*/
}

.children__9293f {
  -webkit-app-region: drag; /*Make it so you can drag the window by the titlebar*/
  &>.iconWrapper__9293f>.icon__9293f {
    -webkit-app-region: drag; /*Reverting the default exception on dragging the channel icon (why?)*/
  }
}

.tabs__80679,.container__44ee9, .tab__65d41, .searchBar__1ac1c, .tabWrapper__26669 {
  -webkit-app-region: no-drag; /*Add exceptions for window dragging to allow clicking*/
}

.title_c38106 {
  display: none; /*Hides the title of the server at the top, which now has nowhere to go o7*/
}

.winButtonsWithDivider_c38106:before {
  height: 24px; /*Makes the slight line between minimise and help buttons visible*/
}

.toolbar__9293f {
  margin-right: var(--wb-appframe-trailing-width); /*Distance the different icon sets as if they were in one*/
  gap: 12px; /*Make the gap between icons consistent*/
}

.headerBarInner__1a9ce {
  margin-right: calc(var(--wb-appframe-trailing-width) - 12px); /*Fix the margin on the quests page*/
}

.alignedRightContent__80679 {
  margin-right: calc(var(--wb-appframe-trailing-width) + 12px); /*Add margin to the orbs wallet on the shop pages*/
}

.chat_f75fb0:has(~.chatLayerWrapper__01ae2)>.subtitleContainer_f75fb0>.title_f75fb0>.upperContainer__9293f>.toolbar__9293f {
  margin-right: 0; /*Remove margin in different scenarios*/
}

.iconWrapper__9293f>svg { /*Reduce the icon size for consistency*/
 height: 24px; 
 width: 24px;
}

.inviteToolbar__133bf, .headerBar__80679 {
  padding-right: 0; /*Remove undesirable padding on group dm invite icon & shop tab icons*/
}

.sidebarList_c48ade {
  border-top-left-radius: 0; /*Remove top left corner rounding on the sidebar*/
}

.container__9293f, .sidebarList_c48ade, .shop__6db1d, .container__133bf, .homeWrapper__0920e, .chat_f75fb0.chat_f75fb0, .container_a592e1 {
  border-top: 0; /*Remove random top borders above the app*/
}

.tutorialContainer__1f388 {
  margin: 16px 0 8px; /*Add a small margin around the first icon in the serverlist, so it fits better with the new layout*/
}

.headerBarContent__1a9ce {
  padding: 0; /*Remove the padding on the quests page wallet since we already move it left*/
}

.balanceWidgetMenu__80679 {
  margin: 0; /*Remove internal margin on the quests icon in the shop pages*/
}

.title_f75fb0.title_f75fb0, .container__9293f.container__9293f {
  background: var(--wb-topbar-background, var(--background-gradient-high, var(--background-base-lowest))); /*Custom background for the topbar, defaults to having the same color as the sidebar*/
}

.innerContainer_e1147e:after { /*Looking at how the apps and servers discovery tabs are made actually just made me sad*/
  background: var(--wb-topbar-background, var(--background-gradient-high, var(--background-base-lowest)));
  content: "";
  position: absolute;
  height: 48px;
  width: 100%;
}

/*Changes the toolbox to have the same colour values for each state as neighbouring buttons*/
.vc-toolbox-icon.vc-toolbox-icon {
  color: var(--icon-tertiary);
}
.vc-toolbox-btn:hover>.vc-toolbox-icon {
  color: var(--icon-secondary);
}
.selected__9293f>.vc-toolbox-icon.vc-toolbox-icon {
  color: var(--icon-primary);
}

/*Reintroduce top margin that was hidden due to --custom-app-top-bar-height: 0*/
.platform-win .contentRegionScroller__23e6b {
  margin-top: 32px;
}