/**
  * @name Winbuttons
  * @author cutekita
  * @version 3.0.0
  * @description Seamlessly merges the window buttons into the channel header
  * @website https://github.com/cutekita/snippets
*/

:root {
  --wb-trailing-button-width: calc(var(--wb-button-count, 3) * 44px + 165px);
  --app-border-frame: #00000000 !important;
}

.base__5e434 {
  --custom-app-top-bar-height: 0;
}

/*Resize window buttons to be square*/
.winButton_c38106 {
  width: var(--wb-button-width, 48px); 
  height: var(--custom-channel-header-height, 48px)
}

/*Align window buttons to channel header*/
.base__5e434>.bar_c38106 {
  top: calc(var(--custom-channel-header-height, 48px) / 2);
  z-index: 2001
}

.winButtonsWithDivider_c38106:before {
  height: calc(var(--custom-channel-header-height) - 24px);
}

/*Server Title*/
.title_c38106 {
  display: none;
}

/*Distance channel header buttons to not overlap with window buttons*/
.toolbar__9293f /*Chat*/
,.headerBarInner__80679.headerBarInner__80679 /*Shop Page*/
,.headerBarInner__1a9ce.headerBarInner__1a9ce
,.navBar__88ef1>.upperContainer__9293f>.children__9293f /*Nitro Page*/{
  margin-right: var(--wb-trailing-button-width);
  padding-right: 0;
}
/*Discover Page*/
.headerBar__8a7fc {
  padding-right: calc(var(--wb-trailing-button-width) + 16px);
}

/*Shop Page Orbs*/
.container__44ee9 {
  margin-right: 0;
}

.navBarContent__88ef1 /*Nitro Page Gift Nitro Button*/
,.headerBarContent__1a9ce /*Quests Page Orbs*/{
  padding-right: 0;
}

/*Don't move buttons in VC when in fullscreen */
.fullScreen_cb9592~.layerContainer__59d0d, .fullScreen_cb9592 {
  --wb-trailing-button-width: 0;
}

/*Chat*/
.children__9293f {
  app-region: drag;
  padding: 9px 0 8px 16px;
  margin: -8px 0 -8px -16px;
  &>.iconWrapper__9293f>.icon__9293f {
    -webkit-app-region: drag;
  }
}

.navBarSectionContent__88ef1, .navBarContent__88ef1>.button_a22cb0 /*Nitro Page*/
,.tabs__80679, .alignedRightContent__80679 /*Shop Page*/
,.tabs__26669 /*Quests Page*/{
  app-region: no-drag;
}
