:root {
  --wb-sw-compat: 0px; /*Compatibility between Winbuttons and Settingswindow*/
  --custom-app-top-bar-height: 0px /*Just make the bar 0 height, think of the consequences later*/
}

.base_c48ade>.bar_c38106 {
  top: 24px; /*Moving all buttons in the top bar down by 24px to line up with the channel header*/
  z-index: 101 /*Make sure the buttons don't hide behind the ridiculous z-index of the channel header*/
}

.winButton_c38106 { /*Remove discords very necessary dynamic width and height for window buttons*/
  width: 48px; 
  height: 48px;
}

.children__9293f {
  -webkit-app-region: drag; /*Make it so you can drag the window by the titlebar*/
  margin: -8px 0; /*Make it so the draggable item takes up the whole thing*/
}

.container__9293f>.upperContainer__9293f>.toolbar__9293f {
  margin-right: 253px; /*distance the icons from the channel header exactly the distance that the window bar takes*/
}

.winButtonsWithDivider_c38106:before {
  height: 24px; /*Makes the slight line between minimise and help buttons visible*/
}

.title_c38106 {
  display: none; /*Hides the title of the server at the top, which now has nowhere to go o7*/
}

/*Changes the toolbox to have the same colour values for each state as neighbouring buttons*/
.vc-toolbox-icon.vc-toolbox-icon {
  color: var(--icon-tertiary);
}
.vc-toolbox-btn:hover>.vc-toolbox-icon {
  color: var(--icon-secondary);
}
.selected__9293f>.vc-toolbox-icon.vc-toolbox-icon {
  color: var(--icon-primary);
}
