/**
  * @name Winbuttons
  * @author cutekita
  * @version 3.0.5
  * @description Seamlessly merges the window buttons into the channel header
  * @website https://github.com/cutekita/snippets
*/

:root {
  --wb-trailing-button-width: calc(var(--wb-button-count, 3) * 44px + 165px);
  --app-border-frame: #00000000 !important;
}

._5e434347c823b592-base {
  --custom-app-top-bar-height: 0;
}

/*Resize window buttons to be square*/
.c38106a3f0c3ca76-winButton {
  width: var(--wb-button-width, 48px); 
  height: var(--custom-channel-header-height, 48px)
}

/*Align window buttons to channel header*/
.c38106a3f0c3ca76-bar {
  top: calc(var(--custom-channel-header-height, 48px) / 2);
  z-index: 3;
}

/*Second window buttons when settings are open*/
.c38106a3f0c3ca76-systemBar {
  top: 0;
  z-index: 1003;
}

.c38106a3f0c3ca76-winButtonsWithDivider:before {
  height: calc(var(--custom-channel-header-height) - 24px);
}

/*Server Title*/
.c38106a3f0c3ca76-title {
  display: none;
}

/*Distance channel header buttons to not overlap with window buttons*/
._9293f6b2fc12398a-toolbar /*Chat*/
,._354ecbbf936fa060-headerBarInner._354ecbbf936fa060-headerBarInner /*Shop Page*/
,._1a9cebfbd0c9d0f6-headerBarInner._1a9cebfbd0c9d0f6-headerBarInner
,._88ef12dca13ecf84-navBar>._9293f6b2fc12398a-upperContainer>._9293f6b2fc12398a-children /*Nitro Page*/{
  margin-right: var(--wb-trailing-button-width);
  padding-right: 0;
}
/*Discover Page*/
._8a7fc664acf53af6-headerBar {
  padding-right: calc(var(--wb-trailing-button-width) + 16px);
}

/*Shop Page Orbs*/
._44ee9ab6d1ca72b4-container {
  margin-right: 0;
}

._88ef12dca13ecf84-navBarContent /*Nitro Page Gift Nitro Button*/
,._1a9cebfbd0c9d0f6-headerBarContent /*Quests Page Orbs*/{
  padding-right: 0;
}

/*Don't move buttons in VC when in fullscreen */
.cb9592ad77576717-fullScreen~._59d0d7075b521375-layerContainer, .cb9592ad77576717-fullScreen {
  --wb-trailing-button-width: 0;
}

/*Chat*/
._9293f6b2fc12398a-children {
  app-region: drag;
  padding: 9px 0 8px 16px;
  margin: -8px 0 -8px -16px;
  &>._9293f6b2fc12398a-iconWrapper>._9293f6b2fc12398a-icon {
    -webkit-app-region: drag;
  }
}

._88ef12dca13ecf84-navBarSectionContent, ._88ef12dca13ecf84-navBarContent>.a22cb0c66246f5d3-button /*Nitro Page*/
,._354ecbbf936fa060-tabs, ._354ecbbf936fa060-alignedRightContent /*Shop Page*/
,._2666984507b357ac-tabs /*Quests Page*/{
  app-region: no-drag;
}

/*Overlap Fixes*/
.cb9592ad77576717-wrapper~._59d0d7075b521375-layerContainer {
  z-index: 2;
}
.f75fb00fb7356cbe-title {
  z-index: 1;
}

/*Server list*/
._5e434347c823b592-guilds {
  margin-top: 12px;
}
